{% extends 'base.html.twig' %}
{% block title %}{{parent()}} - Liste mots{% endblock %}
{% block contenu %}
    {{parent()}}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h1 class="text-center text-primary p-4">Liste des mots</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 p-4 m-0 text-primary">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Libellé FR</th>
                            <th scope="col">Libellé EN</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mot in mots %}
                            <tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
                                <td>{{mot.libelle |capitalize }}</td>
                                <td>{{mot.libelleen |capitalize }}</td>
                                <td><a href="{{path('modif-mot',{'id':mot.id})}}"class="text-white"><span class="material-icons" title="Modifier un mot">create</span></a></td>
                                <td><a href="{{path('liste-mots',{'supp':mot.id})}}" class="text-white"><span class="material-icons" title="Supprimer le mot">delete</span></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}